<style type="text/css">
	
	.sourceCodeListing {
		margin:5px;
		padding:0;
		border:1px #ddd solid;
		height:375px;
		overflow:auto;
	}
	
	.sourceCodeListing table {
		margin:0;
		padding:0;
	
	}

	.sourceCodeListing td {
		font-size:13px;
		font-family: Courier, monospace;
	}

	.sourceCodeListing .lineNumberCol {
		padding:1px 2px 1px 2px;
		background-color: #eee;
		color:#000;
		border-right:#666 solid 2px;
		text-align:right;
	}
	
	.sourceCodeListing .codeCol {
		padding:1px 1px 1px 4px;
	}
	
	.sourceCodeListing .codeCol span {
		color:blue;
	}
	
</style>
<div class="sourceCodeListing">
<table>
	<tr ng-repeat="sourceCodeLine in sourceCodeLines track by $index">
		<td class='lineNumberCol'>{{$index}}</td>
		<td class='codeCol' ng-bind-html="sourceCodeLine"></td>
	</tr>
</table></div>
