<ul class="nav nav-tabs" role="tablist">
	<li id="tab-{{tab.tabId}}" ng-repeat='tab in tabs' ng-class="{active: tab.tabActive}"><a href="#tab-content-{{tab.tabId}}" role="tab" data-toggle="tab">{{tab.tabTitle}}</a></li>
</ul>
<div class="tab-content" ng-transclude>
</div>