body {

	table.table > thead > tr > th,
	table.table > tbody > tr > td {

		vertical-align:middle;

	}
	
	table.code-samples > thead {
		
		th:first-child {
			width:5%;
		}
		
		th:nth-child(2) {
			width:25%;
		}
		
		th:nth-child(3) {
			width:40%;
		}

		th:nth-child(4) {
			width:15%;
		}

		th:last-child {
			width:15%;
		}
	}
    
}