<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Bootstrapping AngularJS</title>
		
		<script src="/lib/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>

		<div ng-app="MyApp">

			<div ng-controller="DefaultCtrl">

				<span my-app-data></span>

			</div>

		</div>

		<script>

			var baseServiceDataSvc = function (serviceNumber) {

				console.log("base service data service called");

				this.getData = function() {
					return "service data service: #" + serviceNumber;
				};

			}

			var serviceDataSvc1 = function() {};
			serviceDataSvc1.prototype = new baseServiceDataSvc(1);

			var serviceDataSvc2 = function() {};
			serviceDataSvc2.prototype = new baseServiceDataSvc(2);

			baseServiceDataSvc.prototype.getOtherData = function(someValue) {

				console.log("getOtherData: " + someValue);
				return "called get other data: " + someValue;
			}		

			angular.module("MyApp", [])
				.constant("myConstant", "aConstant")
				.value("myValue", "aValue")
				.provider("ProviderDataSvc", function() {

					console.log("provider data service called");

					var optionSet = false;

					return {
						setOption: function() {
							optionSet = true;
						},
						$get: function() {
							return {
								getData: function() {
									return "provider data service, option value: " + optionSet;
								}
							}
						}
					}

				})
				.config(function(myConstant, ProviderDataSvcProvider) {
					
					ProviderDataSvcProvider.setOption();

					console.log("config MyApp");
					console.log("in config: myConstant = " + myConstant);
					console.log("in config: values cannot be used in the config function");
				})
				.run(function(myConstant, myValue) {
					console.log("run MyApp");
					console.log("in run: myConstant = " + myConstant);
					console.log("in run: myValue = " + myValue);
				})
				.factory("FactoryDataSvc", function() {

					console.log("factory data service called");

					return {

						getData: function() {
							return "factory data service";
						}
					}

				})
				.controller("DefaultCtrl", function() {
					console.log("default controller running");
				})
				.directive("myAppData", function(ServiceDataSvc1, ServiceDataSvc2, FactoryDataSvc, ProviderDataSvc) {
					console.log("my-app-data directive called");
					return {
						template: "{{serviceDataSvcGetData1}}<br>{{serviceDataSvcGetData2}}<br>{{factoryDataSvcGetData}}<br>{{providerDataSvcGetData}}",
						controller: function ($scope, ServiceDataSvc1, ServiceDataSvc2, FactoryDataSvc, ProviderDataSvc) {
							$scope.serviceDataSvcGetData1 = ServiceDataSvc1.getData();
							$scope.serviceDataSvcGetData2 = ServiceDataSvc2.getOtherData("some data");
							$scope.factoryDataSvcGetData = FactoryDataSvc.getData();
							$scope.providerDataSvcGetData = ProviderDataSvc.getData();
						}

					};

				})
				//.service("ServiceDataSvc1", function() { return { getData:function() { return "data1"; }}})
				//.service("ServiceDataSvc2", function() { return { getOtherData:function() { return "data2"; }}});
				.service("ServiceDataSvc1", serviceDataSvc1)
				.service("ServiceDataSvc2", serviceDataSvc2);



		</script>

	</body>

</html>