<!DOCTYPE html>

<html lang="en">

	<head>
		<title>AngularJS Require Parent Controller</title>
		
		<script src="/lib/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>

		<div ng-app="MyApp">

			<div ng-controller="DefaultCtrl">

				<div parent-dir>

					{{parentValue}}

					<div child-dir>

						{{childValue}}

						<button ng-click="callParent($event)">Call Parent</button>

					</div>

				</div>

			</div>

		</div>

		<script>


			angular.module("MyApp", [])
				.directive("parentDir", function() {

					return {

						controller: function($scope) {

							this.callMe = function() {
								$scope.parentValue = "Parent Called!";
							}

						}

					}

				})
				.directive("childDir", function() {

					return {
						require: "^parentDir",
						link: function(scope, element, attrs, ctrl) {

							scope.callParent = function($event) {
								ctrl.callMe();
							}

						}

					}

				})
				.controller("DefaultCtrl", function($scope) {

					$scope.parentValue = "The Parent Value"
					$scope.childValue = "The Child Value"
					
				});

		</script>

	</body>

</html>