<!DOCTYPE html>

<!-- set the name of our angular application -->
<html lang="en" ng-app="javacoffeeshop">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<title>Parent/Child Controller Inheritance</title>
		<link type="text/css" rel="stylesheet" href="bower_components/components-bootstrap/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="bower_components/components-bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet/less" type="text/css" href="styles.less" />
		<script src="less.js" type="text/javascript"></script>
		
		<!-- include the angular.js script we downloaded with bower -->
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="container" ng-controller="parentCtrl">
			<div class="row">
				<div class="col-md-12">
					<h1>$scope Watches</h1>
				</div>
			</div>
			<section class="well well-lg" ng-controller="sampleCtrl">
				<div class="row">
					<div class="col-md-12">
						<h2>Sample Controller</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="some_value">Some Value</label>
						<input type="text" id="some_value" ng-model="someValue" />
					</div>
				</div>
			</section>
		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/components-bootstrap/js/bootstrap.min.js"></script>

		<script>

			angular.module("javacoffeeshop", [])
				.controller("sampleCtrl", function($scope, $log) {

					$scope.someValue = "The Value";

					$scope.$watch("someValue", function(newValue) {
						$log.info("someValue=" + newValue);
					})

				});

		</script>
	</body>

</html>