<!DOCTYPE html>

<html ng-app="AngularJSCourseApp">
    
		<head>
			<title>AngularJS Course Code Samples</title>
			<link href="lib/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
			<link href='css/site.css' rel='stylesheet' type='text/css'>
		</head>    

	<body>
	
		<div class="container-fluid" ng-controller="HomeCtrl" ng-cloak>
			
			<h1 class="jumbotron">AngularJS Course Code Samples</h1>
			
			<table class="table code-samples">
				<thead>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Description</th>
						<th><select ng-model="topic">
							<option value="">All Topics</option>
							<option>JavaScript</option>
							<option>Applications</option>
							<option>Modules</option>
							<option>Services</option>
							<option>Directives</option>
							<option>Scope</option>
							<option>Promises</option>
						</select></th>
						<th><select ng-model="level">
							<option value="">All Levels</option>
							<option>Beginner</option>
							<option>Intermediate</option>
							<option>Advanced</option>
						</select></th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="codeSample in codeSamples | filter: {'level':level} | filter: {'topic':topic} | orderBy:'number'">
					<td>{{codeSample.number}}</td>
					<td>{{codeSample.name}}</td>
					<td>{{codeSample.description}}</td>
					<td>{{codeSample.topic}}</td>
					<td>{{codeSample.level}}</td>
					<td><a class="btn btn-primary" href="#" ng-click="runCodeSample($event, codeSample)">Run it!</a></td>
				</tr>
				</tbody>
			</table>
		</div>
		
		<div ng-controller="CodeSampleModalCtrl">
			<ngcourse-modal modal-id="codeSampleModal" modal-title="{{codeSampleName}} Code Sample" ng-cloak>
				<ngcourse-tabs tabs-id="codeSampleTabs">
					<ngcourse-tab tab-id="live" tab-title="Live" tab-active="true">
						<div style="margin:5px;"><iframe src="{{url}}" style="width:100%;height:370px;border:1px solid #ddd;"></iframe></div>
					</ngcourse-tab>
					<ngcourse-tab tab-id="code" tab-title="Code"><ngcourse-source-code source-code="sourceCode"></ngcourse-source-code></ngcourse-tab>
				</ngcourse-tabs>
			</ngcourse-modal>
		</div>
	
		<script src="lib/jquery/jquery.js"></script>
		<script src="lib/bootstrap/bootstrap.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-sanitize/angular-sanitize.js"></script>
		<script src="js/angularJSCourseApp.js"></script>
	</body>
    
</html>