<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Bootstrapping AngularJS</title>
		
		<script src="/lib/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>

		<div ng-app>

			<div ng-controller="DefaultCtrl">

				{{myValue}}

			</div>

		</div>

		<script>

			function DefaultCtrl($scope) {
				$scope.myValue = "Test Value";
			}

		</script>
	</body>

</html>