<!DOCTYPE html>

<!-- set the name of our angular application -->
<html lang="en" ng-app="javacoffeeshop">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<title>Welcome to Java Coffee Shop!</title>
		<link type="text/css" rel="stylesheet" href="bower_components/components-bootstrap/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="bower_components/components-bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet/less" type="text/css" href="styles.less" />
		<script src="less.js" type="text/javascript"></script>
		
		<!-- include the angular.js script we downloaded with bower -->
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Welcome to Java Coffee House!</h1>
				</div>
			</div>
			<div class="row" ng-controller="customerAddressCtrl">
				<div class="col-md-12">
					<label for="billing_address_line_1">Billing Address</label>
					<input type="text" id="billing_address_line_1" ng-model="addressLine1" />
					<button ng-click="updateAddressLine1($event)">Update Shipping</button>
				</div>
			</div>
			<div class="row" ng-controller="customerAddressCtrl">
				<div class="col-md-12">
					<label for="shipping_address_line_1">Shipping Address</label>
					<input type="text" id="shipping_address_line_1" ng-model="addressLine1" />
					<button ng-click="updateAddressLine1($event)">Update Billing</button>
				</div>
			</div>
		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/components-bootstrap/js/bootstrap.min.js"></script>

		<script>

			angular.module("javacoffeeshop", [])
				.controller("customerAddressCtrl", function($scope, $rootScope) {

					$scope.$on("customerAddressLine1Updated", function(event, args) {
						$scope[args["field"]] = args["addressLine1"];

						for(var key in $scope) {
							console.log(key);
						}
					});

					$scope.updateAddressLine1 = function($event) {
						
						$rootScope.$broadcast("customerAddressLine1Updated", {
							field:'addressLine1', addressLine1: $scope.addressLine1
						});

					};

				});

		</script>
	</body>

</html>