<!DOCTYPE html>

<!-- set the name of our angular application -->
<html lang="en" ng-app="javacoffeeshop">

	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<title>Parent/Child Controller Inheritance</title>
		<link type="text/css" rel="stylesheet" href="bower_components/components-bootstrap/css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="bower_components/components-bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet/less" type="text/css" href="styles.less" />
		<script src="less.js" type="text/javascript"></script>
		
		<!-- include the angular.js script we downloaded with bower -->
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Parent/Child Controller Inheritance</h1>
				</div>
			</div>
			<section class="well well-lg" ng-controller="parentCtrl">
				<div class="row">
					<div class="col-md-12">
						<h2>Parent Controller</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label for="parent_value">Parent Value</label>
						<input type="text" id="parent_value" ng-model="data.parentValue" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button ng-click="updateDetails($event)">Update Details from Parent Controller</button>
					</div>
				</div>
				<section class="well well-lg" ng-controller="childCtrl">			
					<div class="row">
						<div class="col-md-12">
							<h2>Child Controller</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label for="parent_value_in_child">Parent Value in the Child Controller</label>
							<input type="text" id="parent_value_in_child" ng-model="data.parentValue" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<label for="child_value">Child Value</label>
							<input type="text" id="child_value" ng-model="data.childValue" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button ng-click="updateDetails($event)">Update Details from Child Controller</button>
						</div>
					</div>
				</section>
			</section>
		</div>

		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bower_components/components-bootstrap/js/bootstrap.min.js"></script>

		<script>

			angular.module("javacoffeeshop", [])
				.controller("parentCtrl", function($scope, $window) {

					$scope.data = {};
					$scope.data.parentValue = "Parent Value";

					//$scope.parentValue = "Parent Value";

					$scope.updateDetails = function($event, source) {
						$window.alert("called parent updateDetails from the "+ (source || "parent") + " controller");
					};

				})
				.controller("childCtrl", function($scope, $window) {

					$scope.data.childValue = "Child Value";
					
					//$scope.childValue = "Child Value";

					var baseUpdateDetails = $scope.updateDetails;

					$scope.updateDetails = function($event) {
						baseUpdateDetails($event, "child");
						$window.alert("called child updateDetails from the child controller");
					};

				});

		</script>
	</body>

</html>