<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Bootstrapping AngularJS</title>
		
		<script src="/lib/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>

		<div id="myAppDiv">

			<div ng-controller="DefaultCtrl">

				{{myValue}}

			</div>

		</div>

		<script>

			var myApp = angular.module("MyApp", []);

			myApp.controller("DefaultCtrl", function($scope) {

				$scope.myValue = "Test Value";

			});

			var myAppDiv = document.getElementById("myAppDiv");

			angular.bootstrap(myAppDiv, ['MyApp']);

		</script>
	</body>

</html>