<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Bootstrapping AngularJS</title>
		
		<script src="/lib/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>

		<div id="firstAppDiv" ng-app="FirstApp">

			<div ng-controller="DefaultCtrl">

				First App: {{myValue}}

			</div>

		</div>

		<br><br><br>

		<div id="secondAppDiv" ng-app="SecondApp">

			<div ng-controller="DefaultCtrl">

				Second App: {{myValue}}

			</div>

		</div>		

		<script>

			angular.module("FirstApp", []).controller("DefaultCtrl", function($scope) {
				$scope.myValue = "First App Value";
			});

			angular.module("SecondApp", []).controller("DefaultCtrl", function($scope) {
				$scope.myValue = "Second App Value";
			});

			angular.bootstrap(document.getElementById("secondAppDiv"), ['SecondApp']);

		</script>
	</body>

</html>