<!DOCTYPE html>

<html lang="en">

	<head>
		<title>Bootstrapping AngularJS</title>
		
		<script src="/lib/angular/angular.js" type="text/javascript"></script>
	</head>

	<body>

		<div ng-app="MyApp">

			<div ng-controller="DefaultCtrl">

				{{myData}}

			</div>

		</div>

		<script>

			var decorateDataSvc = function($delegate) {

				console.log("decorate called");

				//return $delegate;

				return {
					getData: function() {
						return "My Decorator Data";
					}
				}
			}

			angular.module("MyApp", [])
				.service("DataSvc", function() {

					return {
						getData: function() {
							return "My Test Data";
						}
					};
				})
				.config(function($provide) {

					$provide.decorator("DataSvc", decorateDataSvc);

				})
				.controller("DefaultCtrl", function($scope, DataSvc) {
					$scope.myData = DataSvc.getData();
				});

		</script>

	</body>

</html>